// @font-face {
//   font-family: 'iconfont'; /* project id 1760395 */
//   src: url('//at.alicdn.com/t/font_1760395_g373mpcapgn.eot');
//   src: url('//at.alicdn.com/t/font_1760395_g373mpcapgn.eot?#iefix')
//       format('embedded-opentype'),
//     url('//at.alicdn.com/t/font_1760395_g373mpcapgn.woff2') format('woff2'),
//     url('//at.alicdn.com/t/font_1760395_g373mpcapgn.woff') format('woff'),
//     url('//at.alicdn.com/t/font_1760395_g373mpcapgn.ttf') format('truetype'),
//     url('//at.alicdn.com/t/font_1760395_g373mpcapgn.svg#iconfont') format('svg');
// }
@font-face {
  font-family: 'iconfont'; /* project id 1760395 */
  src: url('//at.alicdn.com/t/font_1760395_gyd8av7p7ta.eot');
  src: url('//at.alicdn.com/t/font_1760395_gyd8av7p7ta.eot?#iefix')
      format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1760395_gyd8av7p7ta.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1760395_gyd8av7p7ta.woff') format('woff'),
    url('//at.alicdn.com/t/font_1760395_gyd8av7p7ta.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1760395_gyd8av7p7ta.svg#iconfont') format('svg');
}

.iconfont {
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:before {
    display: block;
    font-family: 'iconfont' !important; /* 注意与 font-face 中的匹配 */
  }
}

.icon-zan::before {
  content: '\e61d';
}

.icon-reply::before {
  content: '\e60a';
}

.icon-like::before {
  content: '\e65c';
}

.icon-cmt::before {
  content: '\e8c5';
}

.icon-like-t::before {
  content: '\e8ab';
}

.icon-cmt-t::before {
  content: '\e60e';
}

.icon-clock::before {
  content: '\e66c';
}

.icon-cmt-1::before {
  content: '\e63a';
}

.icon-like-1::before {
  content: '\e640';
}
