html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  body {
    background-image: linear-gradient(
        90deg,
        rgba(50, 0, 0, 0.05) 3%,
        rgba(0, 0, 0, 0) 3%
      ),
      linear-gradient(360deg, rgba(50, 0, 0, 0.05) 3%, rgba(0, 0, 0, 0) 3%);
    background-size: 20px 20px;
    background-position: center center;
  }
  a {
    color: #000;
    text-decoration: none;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style: none;
}

.backtop,
.like-article,
.gocmt {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 20px;
  border: 1px solid #dcdfe6;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  // opacity: 0.5;
  background-color: white;
  &:hover {
    cursor: pointer;
    border-color: #409eff;
    color: #409eff;
    opacity: 1;
  }
}

a {
  word-break: break-all;
}
code {
  word-break: break-all;
}

.like-article:hover {
  color: rgb(211, 56, 28);
  border-color: rgb(211, 56, 28);
}

.gocmt {
  margin: 0.625rem 0;
}

// @media
@media screen and(min-width: 320px) and(max-width: 359px) {
  html {
    font-size: 12.8px;
  }
}
@media screen and(min-width: 360px) and(max-width: 374px) {
  html {
    font-size: 14.4px;
  }
}
@media screen and(min-width: 375px) and(max-width: 385px) {
  html {
    font-size: 15px;
  }
}
@media screen and(min-width: 386px) and(max-width: 392px) {
  html {
    font-size: 15.44px;
  }
}
@media screen and(min-width: 393px) and(max-width: 400px) {
  html {
    font-size: 16px;
  }
}
@media screen and(min-width: 401px) and(max-width: 414px) {
  html {
    font-size: 16.48px;
  }
}
@media screen and(min-width: 750px) and(max-width: 799px) {
  html {
    // font-size: 30.72px;
    font-size: 16px;
  }
}
